{%extends 'emp-base.html'%}

{%block body_block%}
<!--<h1>Welcome Employer - {{request.user}}</h1>-->

<!--&lt;!&ndash;<a href="">Add Profile request.user.is_candidate</a>&ndash;&gt;-->

<!--{%if request.user.employers%}-->
<!--<a href="{%url 'emp-detail' %}">View Pofile</a>-->
<!--{%else%}-->
<!--<a href="{%url 'emp-profile' %}">Add Profile</a>-->
<!--{%endif%}-->
<!--<a href="{%url 'emp-addjob'%}">Post Job</a>-->
<!--<a href="{%url 'emp-listjob'%}">Posted Jobs</a>-->

<div class="row">
    <div class="col-4"></div>
    <div class="col-4">
        {% if messages %}
            {%for message in messages%}
                {%if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS%}
                <div class="bg-info">
                        {{message}}
                </div>
                {%endif%}
            {%endfor%}
        {% endif %}
    </div>
    <div class="col-4"></div>
</div>

{%endblock%}