{%extends 'cand-base.html'%}

{%block body_block%}
<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-6">
            <div class="card text mb-3 mt-3" style="max-width: 30rem; background-color: #2096d6;">
                <div class="card-header bg-transparent border-light text-black"
                     style=""><b>{{job.job_title}}</b></div>
                <div class="card-body text-light">
                    <h5 class="card-title">{{job.role}}</h5>
                    <p class="card-text">{{job.job_description}}</p>
                    <p class="card-text">Experience : {{job.experience}}</p>
                    <p class="card-text">Location : {{job.location}}</p>
                    <p class="card-text">Salary : ₹.{{job.salary}}</p>
                    <p class="card-text">Last Date : {{job.last_date}}</p>
                    <p class="card-text">Qualification : {{job.qualification}}</p>
                </div>
                {%if status %}
                <div class="card-footer border-light " style="background-color: #4ea2cf;"><a href="#" class="btn btn-success">Applied</a>
                {%else%}
                <div class="card-footer border-light" style="background-color: #4ea2cf;" ><a href="{%url 'apply_now' job.id %}" class="btn btn-warning">Apply Now</a>

                {%endif%}
                 </div>
            </div>

        </div>
        <div class="col-3"></div>
    </div>
</div>
</div>
{%endblock%}