<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{%static 'css/userstyle.css'%}">

    <style>
        .navbar{
        background-color: #13a118;
        }
        .f1{
        color:white;
        }
    </style>

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark" >
    <div class="container-fluid">
        <div class="badge bg-d text-wrap fs-6 text-bg-primary me-3" style="width: 6rem;">
            Job Portal
        </div>
        <a class="navbar-brand fw-bold" href="#">Candidate-{{request.user}}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active " aria-current="page" href="{%url 'cand-home'%}">Home</a>
                </li>
                {%if request.user.candidates%}
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{%url 'cand-detailprofile'%}">Profile</a>
                </li>
                {%else%}
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{%url 'cand-addprofile'%}">Add Profile</a>
                </li>
                {%endif%}
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{%url 'cand-appliedjobs' %}">Applied Jobs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{%url 'cand-acceptjob' %}">Notifications</a>
                </li>
            </ul>
            <a class="navbar-brand" href=""><img src="{{request.user.candidates.profile_pic.url}}" height="35px"
                                             width="35px" alt="..."></a>
            <a class="btn btn-outline-light" aria-current="page" href="{%url 'signout'%}">Logout</a>

        </div>
    </div>
</nav>
{%block body_block%}


{%endblock%}
</body>
</html>